{% extends 'base.html' %}
{% block content %}
<div class="container">
<h1>Pill Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ pill.name }}</span>
        <p>Dosage: {{ pill.dosage }}</p>
        <p>Directions: {{ pill.directions }}</p>
        <p>Prescribing Doctor: {{ pill.prescribing_doctor }}</p>
      </div>
    </div>
    <div class="card-action">
      <a href="{% url 'pills_update' pill.id %}">Edit</a>
      <a href="{% url 'pills_delete' pill.id %}">Delete</a>
    </div>
  </div>
</div>
<div class="col s6">
  <a href="{% url 'add_dosing' pill.id %}">Create Dosing Directions</a>
  <!-- new code above -->
{% if time.time > pill.dose_on_time.time %}
<h6>You are late in taking your pills from {{pill.dose_on_time.time}}</h6>
{% endif %}
<br><a href="{% url 'dose_taken' pill.id %}">Mark Dose Taken</a>
  <table class="striped">
    <thead>
      <tr><th>Date</th><th>Dose</th></tr>
    </thead>
    <tbody>
      {% for dose in pill.dosing_set.all %}
        <tr>
          <td>{{dose.time}}</td>
          <td>{{dose.dose}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
<script>
  const dateEl = document.getElementById('id_form-0-date');
//   $(function () {
//     $('id_date').datetimepicker();
//  });
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
</script>
</div>
{% endblock %}