{% extends 'base.html' %}
{% block content %}
<div class="container">
<h1>Pill Details</h1>
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ pill.name }}</span>
        <p>Dosage: {{ pill.dosage }}</p>
        <p>Directions: {{ pill.directions }}</p>
        <p>Prescribing Doctor: {{ pill.prescribing_doctor }}</p>
        {% if pill.qty_remaining < pill.qty %}
          <p>Quantity Remaining: {{ pill.qty_remaining }}</p>
      {% endif %}
      </div>
    </div>
    <div class="card-action">
      <a href="{% url 'pills_update' pill.id %}">Edit</a>
      <a href="{% url 'pills_delete' pill.id %}">Delete</a>
    </div>
  </div>
</div>
<div class="col s6">
  {% if pill.dosing_set.count %}
  {%else%}<!-- this is where we will put the edit dosing instructions -->
    <a href="{% url 'add_dosing' pill.id %}">Create Dosing Directions</a>
  {% endif %}
  {% if time.time > pill.dose_on_time.time %}
    <h6>You are late in taking your pills from {{pill.dose_on_time.time}}</h6>
  {% endif %}
  {% if pill.doses_total_plus_one != pill.doses_taken %}
    <br><a href="{% url 'dose_taken' pill.id %}">Mark Dose Taken</a>
  {% endif %}
  <table class="striped">
    <thead>
      <tr><th>Date</th><th>Dose</th></tr>
    </thead>
    <tbody>
      {% for dose in pill.dosing_set.all %}
        <tr>
          <td>{{dose.time}}</td>
          <td>{{dose.dose}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
<script>
  const dateEl = document.getElementById('id_form-0-date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
</script>
</div>
{% endblock %}