{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="formsSignUp">
    <h1 class="h1Forms">Patient Sign Up</h1>

    <form method="post"">
      {% csrf_token %}
      {{ user_form.as_p }}
      {{ profile_form.as_p }}
      <input type="submit" class="btn" value="signup">
    </form>

    <script>
      const dateEl = document.getElementById('id_dob');
      M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        yearRange: [1900, new Date().getFullYear()],
        autoClose: true
      });
    </script>
  </div>
</div>

{% endblock %}