{% extends 'base.html' %}
{% block content %}

<main class = "contain">
<img class= "homebackground" src="https://i.imgur.com/N9tqe1q.jpeg" alt="Assisting living facility">
<div class="white-box">
    <div class="centered middle">
        <div class="card-image">&nbsp;
        </div>
        <div class="card-text">Our Mission: &nbsp;
            <p class="card-paragraph">
                Taking care of your health is a human right that should be simple, enjoyable 
                and free. With Pill Papa you will be able to track your medicinal intakes, be reminded 
                of when to take them, and be rewarded for prioritizing your health.
            </p>
        </div>  
    <div class="centered leftHome">
        <div class="card-imageLeft">&nbsp;
        </div>
        <div class="card-text">Who is PillPapa for? &nbsp;
            <p class="card-paragraph">
                PillPapa was specifically designed with group 
                homes in mind. We offer ease of use administrative capabilites
                to help in monitoring everyone's progress towards a healthier 
                lifestyle. 
            </p>
        </div>  

    <div class="centered rightHome">
        <div class="card-imageRight">&nbsp;
        </div>
        <div class="card-text">Why PillPapa? &nbsp;
            <p class="card-paragraph">
                55% of Americans regularly take a prescription medicine and a rising 
                number of them are getting sick from consuming the wrong thing or/and 
                at the wrong time. 
            </p>
        </div>  
        
</div>
<!-- <div class="cardHome">
    <div class="card-image"></div>
    <div class="card-text">
        <span class="date">4 days ago</span>
        <h2>Post One</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, eveniet earum recusandae vitae enim totam voluptas in nisi tenetur quod. Officiis et mollitia quibusdam suscipit. Itaque doloremque eius dignissimos praesentium.</p>
    </div>
    <div class="card-stats"></div>
</div> -->

</main>
 


{% endblock %}

