{% extends 'base.html' %}
{% block content %}
<main class = "contain">
<img class= "homebackground" src="https://i.imgur.com/N9tqe1q.jpeg" alt="Assisting living facility">
<div class="white-box">
  <div class="centered middle">
    <div class="card-image">&nbsp;
    </div>
    <div class="card-text">Our Mission: &nbsp;
      <p class="card-paragraph">
        Taking care of your health is a human right that should be simple, enjoyable 
        and free. With Pill Papa you will be able to track your medicinal intakes, be reminded 
        of when to take them, and be rewarded for prioritizing your health.
      </p>
    </div>  
  <div class="centered leftHome">
    <div class="card-imageLeft">&nbsp;
    </div>
    <div class="card-text">Who is PillPapa for? &nbsp;
      <p class="card-paragraph">
        PillPapa was specifically designed with group 
        homes in mind. We offer ease of use administrative capabilites
        to help in monitoring everyone's progress towards a healthier 
        lifestyle. 
      </p>
    </div>  
  <div class="centered rightHome">
    <div class="card-imageRight">&nbsp;
    </div>
    <div class="card-text">Why PillPapa? &nbsp;
      <p class="card-paragraph">
        55% of Americans regularly take a prescription medicine and a rising 
        number of them are getting sick from consuming the wrong thing or/and 
        at the wrong time. 
      </p>
  </div>  
</div>
</main>
<div class="bodyHome">
<div class="wrapperHome">
  <div class="cardHome">
    <img src="https://i.imgur.com/PqsY3O6.jpg" alt="">
    <div class="info">
      <h1>&nbsp;&nbsp;Mharvinn &nbsp;&nbsp;Calitis</h1>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Full-stack Developer</p>
      <a href="https://github.com/Sitilac" class="btnHome">See Github</a>
    </div>
  </div>
  <div class="cardHome">
    <img src= "https://i.imgur.com/9TIzDz1.png" alt="">
    <div class="info">
      <h1>&nbsp;Ben &nbsp;&nbsp;Sokol</h1>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Full-stack &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer</p>
      <a href="https://github.com/b-sokol" class="btnHome">See Github</a>
    </div>
  </div>
  <div class="cardHome">
    <img src="https://i.imgur.com/pvfc5V2.png" alt="">
    <div class="info">
      <h1>&nbsp;&nbsp;Jesus Aguilar</h1>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Full-stack &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer</p>
      <a href="https://github.com/jfar41" class="btnHome">See Github</a>
    </div>
  </div>
</div>
</div>
{% endblock %}