
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color:#EFF1F9;

}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

nav {
  background-color: #677EBD;
}

.page-footer {
background-color: #677EBD;
}

img.papalogo {
  width: 190px;
}

div.sub-full-bleed.remove-padding {
  padding: 0 !important;
}

.contain {
  position: relative;
  text-align: center;
  color:black;
  align-items: center;
  justify-content: center;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  border-radius: 18px;
  font-size: 30px;
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 240px;
}

.centeredForms {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  border-radius: 18px;
  font-size: 30px;
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: 140px;
  padding-left: 100px;
  padding-right: 100px;
}

.centeredHeader {
  position: relative;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  border-radius: 18px;
  font-size: 60px;
}

.h1Forms {
 text-align: center;
 color: #A4A9B8;
 font-weight: bold;
}
.leftHome {
  position: absolute;
  top: 50%;
  left: -100%;
}

.rightHome {
  position: absolute;
  top: 50%;
  left: 1050px;
}

.card-paragraph {
  font-size: 12px;
}

main img.homebackground {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.card-imageRight {
  background: url("https://i.imgur.com/PQ82qB6.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-size: cover;
  margin: 20px;
}
.card-image {
  background: url("https://i.imgur.com/F0AVKWv.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-size: 280px 200px;
  background-repeat: no-repeat;
  margin: 20px;
}
.card-imageLeft {
  background: url("https://i.imgur.com/PQ82qB6.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-size: cover;
  margin: 20px;
}

.card-text {
  margin: 15px;
}
