
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color:#EFF1F9;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

nav {
  background-color: #677EBD;
}

.page-footer {
background-color: #677EBD;
}

img.papalogo {
  width: 190px;
}

div.sub-full-bleed.remove-padding {
  padding: 0 !important;
}

.contain {
  position: relative;
  text-align: center;
  color:black;
  align-items: center;
  justify-content: center;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  border-radius: 18px;
  font-size: 30px;
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 240px;
}

.centeredForms {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  border-radius: 18px;
  font-size: 20px;
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: 140px;
  padding-left: 100px;
  padding-right: 100px;
}

.centeredFormsAdmin {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  border-radius: 18px;
  font-size: 10px;
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: 90px;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 22vh;
}

.centeredFormsSign {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  border-radius: 18px;
  font-size: 10px;
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: 90px;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 22vh;
}

.centeredHeader {
  position: relative;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  border-radius: 18px;
  font-size: 60px;
}
.signUpContainer {
  font-size: 30px;
  display: grid inline-grid;
  margin-top: 30px;
  text-align: center;
}

.item-a {
  margin-right: 30px;
  padding-bottom: 20px;
}

.item-b {
  margin-left: 30px;
  padding-bottom: 20px;
}

.h1Forms {
 text-align: center;
 color: #A4A9B8;
 font-weight: bold;
 margin: 5px;
}

.h1FormsIndex {
 text-align: center;
 color: #A4A9B8;
 font-weight: bold;
}
.leftHome {
  position: absolute;
  top: 50%;
  left: -100%;
}

.rightHome {
  position: absolute;
  top: 50%;
  left: 1050px;
}

.card-paragraph {
  font-size: 12px;
}

main img.homebackground {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.card-imageRight {
  background: url("https://i.imgur.com/PQ82qB6.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-size: cover;
  margin: 20px;
}
.card-image {
  background: url("https://i.imgur.com/F0AVKWv.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-size: 280px 200px;
  background-repeat: no-repeat;
  margin: 20px;
}
.card-imageLeft {
  background: url("https://i.imgur.com/PQ82qB6.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-size: cover;
  margin: 20px;
}

.card-text {
  margin: 15px;
}

.bodyHome {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapperHome {
  background: linear-gradient(to bottom,
   rgba(118, 201, 232, 0.1), rgb(68, 161, 194,1));
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.cardHome {
  width: 150px;
  height: 150px;
  padding: 2rem 1rem;
  background: #fff;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
  transition: 0.5s ease-in-out;
  border-radius: 50%
}

.cardHome:hover{
  transform: translateY(20px);
}

.cardHome::before{
  content: "";
  position: absolute;
  top: -12;
  left:-10;
  display: block;
  width:300px;
  height: 300px;
  background: linear-gradient(to bottom, rgba(117, 126, 140, 0.5), rgb(45, 55, 62));
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
  border-radius: 50%;

}

.cardHome:hover::before {
  opacity:1;
}

.cardHome img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.cardHome .info {
  position: relative;
  z-index: 3;
  color: black;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}

.cardHome:hover .info{
  opacity: 1;
  transform: translateY(0px)
}

.cardHome .info h1 {
  margin: 0;
  color: rgb(250, 192, 0);
  font-family: sans-serif;
  font-size: 50px;
}

.cardHome .info p {
letter-spacing: 1px;
font-size: 15px;
font-weight: bold;
margin-top: 8px;
margin-bottom: 20px;
color: white;
}

.cardHome .info .btnHome {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.cardHome .info .btnHome {
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}