{% extends 'base.html' %} 
{% block content %}
<div class="container">
  <h1 class="h1Forms">{{ user.name }}'s Patient List</h1>
  {% for patient in patients %}
  <div class="card">
    <a href="{% url 'patients_detail' patient.id %}">
      <div class="card-content">
        <span class="card-title">{{ patient.name }}</span>
        <p>Email: {{ patient.user.email }}</p>
        <p>Phone Number: {{ patient.user.phone }}</p>
        <p>Room Number: {{ patient.room_number }}</p>
        <p>Date of Birth: {{ patient.dob }}</p>
        <p>Points: {{ patient.points }}</p>
      </div>
    </a>
  </div>
{% endfor %} 
</div>
{% endblock %}
