{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h1 class="h1Forms">Patient Details</h1>
  <div class="row">
    <div class="col s6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{ patient.name}}</span>
          {% if patient.patient_photo_set.last %}
            <img class="responsive-img card-panel" src="{{patient.patient_photo_set.last.url}}">
          {% endif %}
          <p>Email: {{ patient.user.email }}</p>
          <p>Phone: {{ patient.user.phone }}</p>
          <p>Date of Birth: {{ patient.dob }}</p>
          <p>Room Number: {{ patient.room_number }}</p>
          <p>Points: {{ patient.points }}</p>
          <h2>Emergency Contact Info</h2>
          <p>{{ICE.name}}</p>
          <p>{{ICE.phone}}</p>
          <p>{{ICE.email}}</p>
          <h2>{{ patient.name }}'s Pills</h2>
          {% for pill in patient.pill_set.all %}
            <p>Name: {{ pill.name }}</p>
            <p>Dosage: {{ pill.dosage }}</p>
            <p>Refills: {{ pill.refills }}</p>
            <p>Quantity Remaining: {{ pill.qty_remaining }}</p>
          {% empty %}
            <div class="card-panel red-text center-align">{{ patient.name }} Has Not Yet Added Any Pills</div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}