{% extends 'base.html' %} 
{% block content %}

<h1>Patient List</h1>

{% for patient in patients %}
<div class="card">
  <a href="{% url 'patient_detail' %}">
    <div class="card-content">
      <span class="card-title">{{ user.patient.name }}</span>
      <p>Email: {{ user.patient.email }}</p>
      <p>Phone Number: {{ user.patient.phone }}</p>
      <p>Room Number: {{ user.patient.room_number }}</p>
      <p>Date of Birth: {{ user.patient.dob }}</p>
      <p>Points: {{ user.patient.points }}</p>
    </div>
  </a>
</div>
{% endfor %} 

{% endblock %}
